<h1>Welcome to Chirpus Pizza</h1>

<div>
  <table class="center">
    <tr>
      <th>Item</th>
      <th>Category</th>
      <th>Price</th>
    </tr>
    <tr *ngFor="let items of SortByCategory('Dinner')">
      <td>{{ items.item }}</td>
      <td>{{ items.category }}</td>
      <td>${{ items.price }}</td>
    </tr>
    <tr *ngFor="let items of SortByCategory('Sides')">
      <td>{{ items.item }}</td>
      <td>{{ items.category }}</td>
      <td>${{ items.price }}</td>
    </tr>
    <tr *ngFor="let items of SortByCategory('Salads')">
      <td>{{ items.item }}</td>
      <td>{{ items.category }}</td>
      <td>${{ items.price }}</td>
    </tr>
    <tr *ngFor="let items of SortByCategory('Dessert')">
      <td>{{ items.item }}</td>
      <td>{{ items.category }}</td>
      <td>${{ items.price }}</td>
    </tr>
  </table>
</div>